<!DOCTYPE html>
<html lang="en">
  <%- include("./reusable/head.ejs") %> 
  <body>
    <%- include("./reusable/navbar.ejs")%>
    <section class="posts-container">
      <% if(user === undefined) { %>
        <% posts.forEach(post => { %>
          <article class="post-container">
            <div class="header-post">
              <h2> Private content</h2>
              <p> Log in and become a member to see the posts! </p>
            </div>
            <div class="footer-post">
              <p><em>Posted: </em>Private</p>
              <p><em>By: </em>Anonymous</p>
            </div>
          </article>
        <% }) %> 
      <% } else if(user.member) { %> 
        <% posts.forEach(post => { %>
          <article class="post-container">
            <div class="header-post">
              <h2><%= post.title %> </h2>
              <% if(post.text.length > 100) { %> 
                <p><%= post.text.substring(0,100) %>...</p>
              <% } else {%> 
                <p><%= post.text %> </p>
              <% } %> 
            </div>
            <div class="footer-post">
              <p><em>Posted: </em><%= post.format_time %> </p>
              <p><em>By: </em><%= post.author.fullname %> </p>
            </div>
            <% if(user.admin) { %> 
              <div class="delete-container">
                <form method="POST" action="/delete">
                  <input name="postid" id="postid" type="hidden" value=<%= post._id %> >
                  <button>Delete post</button>
                </form>
              </div>
            <% } %>
          </article>
        <% }) %> 
      <% } else { %> 
        <% posts.forEach(post => { %>
          <article class="post-container">
            <div class="header-post">
              <h2> Private content</h2>
              <p> Log in and become a member to see the posts! </p>
            </div>
            <div class="footer-post">
              <p><em>Posted: </em><%= post.format_time %> </p>
              <p><em>By: </em><%= post.author.fullname %> </p>
            </div>
          </article>
        <% }) %> 
      <% } %>
    </section>
  </body>
</html>